-
  let pageTitle = "Надо брать"
  let logos = [{alt: "Logo wordpress",link: "images/wordpress.svg"},
    {alt: "Logo", link: "images/5.svg"},
    {alt: "Logo", link: "images/3.svg"}]
  let stack = [{title: "Frontend", list: ["JAVA SCRIPT", "CSS 3","HTML 5"]},
    {title: "Backend", list: ["WordPress", "SQL","PHP"]},
    {title: "Integrations", list: ["Company internal services"]}]
  let stages = [{stage: "STAGE 1", list: ["Competitor analysis", "Target audience analysis","Sitemap development","Development of technical specifications. Preparation for SEO promotion"]},
    {stage: "STAGE 2", list: ["Selection of references", "Prototyping","Design creation","Creating an adaptive version"]},
    {stage: "STAGE 3", list: ["HTML /CSS site layout","Function programming","Installation and configuration of modules","Page load optimization","Website testing"]},
    {stage: "STAGE 4", list: ["Basic content filling","Delivery of the project to the client","Site publishing"]}]
  let statistics = [{value: "10 000", text: "> 10k clients"},
    {value: "30", text: "> 10 legal professionals"},
    {value: "2", text: "dual regulation (SPA & OISC)"},
    {value: "3", text: "highest level of accreditation with OISC"},
    {value: "500", text: "Legal 500 firm"},
    {value: "700", text: "> 700 reviews"},
    {value: "4.8/5", text: "> google ranking"},
    {value: "10", text: "> 10 years history"},]
  let services = ["Help for Ukranians", "Immigration", "Employment Law", "Business Law", "IP Law", "Family Law", "Criminal Law", "Extradition", "Tax Investigations",]
  let colors = ["#F6F6F6", "#CC4A3D", "#000000", "#D8D8D8", "E8E8E8"]
  let countLetters = 0;