@import "fonts";
@import "variables";
@import "pulseCircle";

body {
  font-family: CeraPro;
  font-size: clamp(1.125rem, 2vw, 1.5rem);
  font-weight: 400;
  line-height: 130%;
  color: #000;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.mainSection {
  background-image: linear-gradient(-20deg, #fff 45%, $color-gradient);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 16px;

  &_wrapper {
    display: grid;
    grid-template-areas:
      "title image"
      "content image";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: clamp(25px, 5.45vw, 67px);
  }

  &_contentWrapper {
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &_contentItem {
    margin-bottom: clamp(30px, 3.25vw, 40px);

    h3 {
      margin-bottom: clamp(5px, 0.8vw, 10px);
    }
  }

  &_title {
    grid-area: title;
    font-weight: 700;
    font-size: clamp(2.5rem, 6vw, 4.69rem);
    line-height: 115%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
    margin-bottom: clamp(25px, 5vw, 60px);
  }

  &_imageWrapper {
    grid-area: image;
    display: flex;
    justify-content: center;
  }

  &_image {
    width: 100%;
    // object-fit: cover;
  }

  @media screen and (max-width: $small) {
    &_wrapper {
      grid-template-areas:
        "title"
        "image"
        "content";
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
    }

    &_image {
      width: 70%;
    }
  }

  @media screen and (max-width: $extraSmall) {
    &_image {
      width: 100%;
    }
  }
}

.stackSection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: clamp(60px, 8.1vw, 100px);
  line-height: 115%;

  &_circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ececed;
    opacity: 1;
    transform: scale(1);
    transition: all 0.6s ease-in-out;
  }

  &_logosGroup {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 29%;
    min-width: 330px;
  }

  &_logoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_stack {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 15px;
    opacity: 1;
    transform: scale(1);
    transition: all 0.65s ease-in-out;
  }

  &_stackItem {
    flex: 1;
  }

  &_stackTitle {
    margin-bottom: clamp(10px, 1.67vw, 20px);
    font-size: clamp(14px, 1.5vw, 18px);
    text-transform: uppercase;
    color: $color-disabled;
  }

  &_stackLine {
    margin-bottom: clamp(10px, 1.2vw, 15px);
    color: #000;
  }

  &_hide {
    opacity: 0;
    transform: scale(0.6);
  }

  @media screen and (max-width: $small) {
    &_logosGroup {
      width: 100%;
      justify-content: space-around;
    }
  }

  @media screen and (max-width: $extraSmall) {
    &_stackItem {
      min-width: 45%;
    }
  }
}

.sectionTitleBright {
  margin-bottom: clamp(25px, 5vw, 60px);
  font-size: clamp(14px, 1.5vw, 18px);
  text-transform: uppercase;
  color: $color-secondary;
}

.stagesSection {
  margin-top: clamp(20px, 5.5vw, 70px);
  margin-bottom: clamp(20px, 5.8vw, 70px);
  line-height: 115%;

  &_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
  }

  &_column {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0 15px;
    gap: clamp(40px, 8.3vw, 103px);
    border-left: 2px solid $color-secondary;
    font-size: clamp(1.125rem, 2vw, 1.5rem);
    font-weight: 400;
    text-transform: none;
    color: #000;
    opacity: 1;
    transform: scale(1);
    transition: all 0.65s ease-in-out;
  }

  &_stageWrapper {
    flex: 1;
  }

  &_stageItem {
    margin-bottom: 12px;
    font-size: clamp(14px, 1.5vw, 18px);
  }

  &_stageName {
    color: $color-disabled;
  }

  &_hide {
    opacity: 0;
    transform: scale(0.8);
  }

  @media screen and (max-width: $small) {
    &_wrapper {
      flex-direction: column;
    }

    &_column {
      border-left: none;
      border-top: 2px solid $color-secondary;
      padding-top: 10px;
      flex-direction: row-reverse;
    }
  }
}

.sectionWebsiteCreation {
  margin-bottom: clamp(40px, 6.6vw, 80px);

  &_content {
    width: 57%;

    @media screen and (max-width: $small) {
      width: 70%;
    }

    @media screen and (max-width: $extraSmall) {
      width: 100%;
    }
  }
}

.sectionTitle {
  margin-bottom: clamp(15px, 3.3vw, 40px);
  font-size: clamp(40px, 8.1vw, 100px);
  color: $color-disabled;
  line-height: 115%;
}

.mainPageSection {
  position: relative;

  &_imageWrapper {
    max-width: 1028px;
    position: relative;
    margin: 0 auto;
    z-index: 10;

    img {
      position: relative;
      width: 100%;
      height: auto;
      object-fit: cover;
      z-index: 10;
    }

    img:first-of-type {
      z-index: 20;
    }
  }

  &__imageSecondary {
    max-width: 97%;
    position: relative;
    bottom: 0;
    transform: translateY(-28%);
    display: block;
    margin: 0 auto;
    z-index: 2;
  }

  &__circlePositionPrimary {
    position: absolute;
    top: 0;
    right: -5%;
  }

  &__circlePositionSecondary {
    position: absolute;
    top: 30%;
    left: -15%;
    width: clamp(140px, 30vw, 368px);
    height: clamp(140px, 30vw, 368px);
  }

  @media screen and (max-width: $small) {
    &__circlePositionPrimary {
      position: absolute;
      top: 8%;
      right: 0;
    }
  }
}

.sectionStatistics {
  padding: clamp(15px, 3.3vw, 40px) 10px clamp(15px, 3.3vw, 40px) 10px;
  background-color: $color-secondary;

  &_content {
    display: flex;
    max-width: 1028px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: $gap-1;
  }

  &_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 24%;
    padding: clamp(15px, 1.67vw, 20px) 10px 10px 10px;
    background-color: #a5332d;
    border-radius: 4px;
  }

  * {
    color: #fff;
  }

  &_title {
    text-align: center;
    margin: 0 auto;
    margin-bottom: clamp(15px, 3.3vw, 40px);
    font-size: clamp(25px, 3.3vw, 40px);
  }

  &_itemValue {
    margin-bottom: 15px;
    font-size: clamp(25px, 3.3vw, 40px);
  }

  &_itemText {
    flex: 1;
    font-size: clamp(14px, 1.5vw, 18px);
    line-height: 115%;
  }

  @media screen and (max-width: $small) {
    display: none;
  }
}

.sectionServices {
  padding: clamp(20px, 5vw, 40px) 0;
  position: relative;

  &_item {
    display: flex;
    justify-content: center;
    max-width: 60%;
    width: 100%;
    margin: 0 auto;
  }

  &_text {
    font-weight: 700;
    padding-top: clamp(14px, 1.5vw, 18px);
    padding-bottom: clamp(10px, 1.2vw, 14px);
    min-width: 60%;
    text-align: center;
  }

  @media screen and (max-width: $small) {
    transform: translateY(-9%);
  }
}

.sectionInternal {
  overflow: hidden;

  &_header {
    display: flex;
    max-width: 1028px;
    margin: 0 auto;
    margin-bottom: clamp(20px, 3.3vw, 40px);
    justify-content: space-between;
    align-items: center;
  }

  &_headerText {
    max-width: 32%;
  }

  &_imagesWrapper {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-start;
  }

  &_item {
    display: flex;
    flex-direction: column;
    gap: clamp(16px, 2.6vw, 32px);
    position: relative;
    flex: 1;
    z-index: 10;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 80%;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0)
      );
    }

    &:nth-child(1)::after {
      height: 20%;
    }

    &:nth-child(2)::after {
      height: 20%;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__firstItem {
    left: -3%;
  }

  &__lastItem {
    right: -3%;
  }

  &__circleFirst {
    position: absolute;
    top: 20%;
    left: 5%;
    width: clamp(110px, 35vw, 436px);
  }

  &__circleSecond {
    position: absolute;
    top: 0;
    right: 10%;
    width: clamp(78px, 23vw, 283px);
  }

  &__circleThird {
    position: absolute;
    top: 35%;
    right: 25%;
    width: clamp(129px, 37vw, 456px);
  }

  &__circleFourth {
    position: absolute;
    bottom: 6%;
    left: 20%;
    width: clamp(78px, 23vw, 283px);
  }

  @media screen and (max-width: $small) {
    &_header {
      display: block;
    }

    &_headerText {
      max-width: 90%;
    }
  }
}

.sectionColors {
  &_header {
    display: grid;
    grid-template-areas:
      "title photo"
      "colors photo";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 60px auto;
    gap: clamp(15px, 6.8vw, 84px);
    margin-bottom: 40px;
  }

  &_title {
    grid-area: title;
  }

  &_img {
    grid-area: photo;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &_colorsGroup {
    grid-area: colors;
    display: flex;
    flex: 1;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: clamp(15px, 4.2vw, 50px);
  }

  &_colorItem {
    position: relative;
    background-color: #000;
    width: clamp(80px, 10.3vw, 130px);
    height: clamp(49px, 6.5vw, 80px);
    clip-path: polygon(0 0, 80% 0, 100% 32%, 100% 100%, 0 100%, 0 0);
    opacity: 1;
    transition: all 0.65s ease-in-out;
  }

  &_backgroundWrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2px;
    right: 2px;
    width: clamp(76px, 10.3vw, 126px);
    height: clamp(45px, 6.5vw, 76px);
    background-color: #fff;
    -webkit-clip-path: polygon(
      16% 0,
      100% 0,
      100% 100%,
      50% 100%,
      0 100%,
      0 16%
    );
    clip-path: polygon(0 0, 80% 0, 100% 32%, 100% 100%, 0 100%, 0 0);
  }

  &_colorText {
    font-size: clamp(0.75rem, 1.5vw, 1.125rem);
  }

  &__colorItemHide {
    opacity: 0;
  }

  &_footer {
    display: flex;
    margin-top: 16px;
    gap: clamp(40px, 8.3vw, 100px);
  }

  &_footerItem {
    flex: 1;
  }

  &_fontWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 40px;
  }

  &_letter {
    font-weight: 700;
    opacity: 1;
    transition: all 0.65s ease-in-out;
  }

  &__letterHide {
    opacity: 0;
  }

  @media screen and (max-width: $small) {
    &_header {
      grid-template-areas:
        "title"
        "img"
        "colors";
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
    }

    &_footer {
      flex-direction: column;
    }

    &_fontWrapper {
      margin-top: 35px;
    }

    &_img {
      display: block;
      width: 70%;
      margin: 0 auto;
    }
  }

  @media screen and (max-width: $extraSmall) {
    &_img {
      width: 100%;
    }
  }
}
