include config/variables.pug
include config/mixins.pug

doctype html
html(lang="en")
  head
    title= pageTitle
    style 
      include css/normilize.css
      include css/styles.css
  body
    section.mainSection 
      .container.mainSection_wrapper
        h1.mainSection_title Website Development for law company
        div.mainSection_contentWrapper  
          p.mainSection_contentItem
            strong STERLING LAWYERS LTD
            is a law firm based in the UK. The team advises small, medium businesses and private person on business immigration to the UK.
          .mainSection_contentItem
            h3 Task from the client:
            p We needed to create a modern corporate website, which is understandable and user-friendly. We used Wordpress, because the old site was created on this CMS.
          .mainSection_contentItem
            h3 Website:
            a(href="https://sterling-law.co.uk") https://sterling-law.co.uk
        .mainSection_imageWrapper
          img(src="images/main.png" alt="Main image").mainSection_image
    section.container.stackSection
      ul.stackSection_logosGroup
        for logo in logos
          +logoItem(logo)
      ul.stackSection_stack
        for item in stack
          +stackGroup(item)
    section.container.stagesSection
      h2.sectionTitleBright #Stages_of_work
      .stagesSection_wrapper
        for stageData in stages
          +stage(stageData)
    section.container.sectionWebsiteCreation
      h2.sectionTitleBright #Website_creation
      p.sectionWebsiteCreation_content The new website design strengthens the company's image as a reliable and open partner.
      p.sectionWebsiteCreation_content On the main page, we placed information about the company, the main achievements of the company, a bright accent button with a call to action for the user. All this significantly increases the conversion of the site.
    section.container.mainPageSection 
      .pulseCircle.mainPageSection__circlePositionPrimary
      h2.sectionTitle Main page
      .mainPageSection_imageWrapper
        .pulseCircle.mainPageSection__circlePositionSecondary
        img(src="images/for-bussiness.png" alt="image")
        img(src="images/city.png" alt="city").mainPageSection__imageSecondary
    section.sectionStatistics
      .container
        h2.container.sectionStatistics_title Prefer to talk numbers? So do we:
        .sectionStatistics_content
          each item in statistics 
            +statisticsItem(item)
    section.sectionServices.container
      each item in services
        .sectionServices_item 
          p.sectionServices_text= item
    section.sectionInternal.container
      .sectionInternal_header      
        h2.sectionTitle Internal pages
        p.sectionInternal_headerText All internal pages are created in a single concept.
      .sectionInternal_imagesWrapper
        .sectionInternal_item.sectionInternal__firstItem
          img(src="images/internal-1.png" alt="image")
          img(src="images/internal-2.png" alt="image")
        .sectionInternal_item
          img(src="images/internal-3.png" alt="image")
        .sectionInternal_item.sectionInternal__lastItem
          img(src="images/internal-4.png" alt="image")
        .pulseCircle.sectionInternal__circleFirst
        .pulseCircle.sectionInternal__circleSecond
        .pulseCircle.sectionInternal__circleThird
        .pulseCircle.sectionInternal__circleFourth
    section.sectionColors.container
      .sectionColors_header
        h2.sectionTitle.sectionColors_title Colors          
        ul.sectionColors_colorsGroup
          for color in colors
            li.sectionColors_colorItem.sectionColors__colorItemHide         
              .sectionColors_backgroundWrapper                
                p.sectionColors_colorText= color  
        .sectionColors_headerItem          
          img(src="images/mobile.png", alt="phone").sectionColors_img
      .sectionColors_footer
        .sectionColors_footerItem
          img(src="images/mobiles.png", alt="phone").sectionColors_img
        .sectionColors_footerItem
          h2.sectionTitle Cera Pro 
          .sectionColors_fontWrapper
            while countLetters < 7 
              p.sectionColors_letter.sectionColors__letterHide AA
              - countLetters += 1;
      section.container
        h2.sectionTitle.mainSection_title TO BE CONTINUED...

      script 
        include js/showWithObserver.js 
        include js/showElementsWithDifferentOpacity.js       